<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
       <link rel="stylesheet" href="/css/main.css"/>

    </head>
    <body>
        <%- include('includes/navigation.ejs') %>
         <h1>Page Not found</h1>
         <h2>Please go back</h2>
<%- include('includes/end') %>